<!-- templates/admin/login.html -->
{% extends "admin/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Login</h5>
            </div>
            <div class="card-body">
                <form role="form" method="post" action="{% url 'admin:login' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_username">Username</label>
                                <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_password">Password</label>
                                <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <p>Don't have an account? <a href="" class="text-primary">Create</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

