{% extends 'products/base.html' %}
{% load custom_filters %}
{% block title %}ProAffiliate{% endblock %}

{% block content %}
 <!-- Jumbotron -->
  <div class="bg-primary text-white py-5">
    <div class="container py-5">
      <h1>
        Temukan Produk Favorit Anda <br />
        dengan Harga Terbaik!
      </h1>
      <p>
      Akses penawaran spesial dan produk pilihan hanya dengan satu klik. Mulai berbelanja sekarang!
			</p>
      <button type="button" class="btn btn-outline-light">
        Learn more
      </button>
      <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
        <span class="pt-1">Purchase now</span>
      </button>
    </div>
  </div>
  <!-- Jumbotron -->
<!-- category -->
<section>
  <div class="container pt-5">
    <nav class="row gy-4">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a href="http://127.0.0.1:8000/category/1" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" >
                <i class="fas fa-book fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Ebook</div>
            </a>
          </div>


          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" >
                <i class="fas fa-basketball-ball fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Sport and travel</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-ring fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Jewellery</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-clock fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Accessories</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-car-side fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Automobiles</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-home fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Home items</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-guitar fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Musical items</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-book fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Book, reading</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-baby-carriage fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Kid's toys</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-paw fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Pet items</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-tshirt fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Men's clothing</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-shoe-prints fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Men's clothing</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-mobile fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Smartphones</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-tools fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Tools</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-pencil-ruler fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Education</div>
            </a>
          </div>
          <div class="col-3">
            <a href="#" class="text-center d-flex flex-column justify-content-center text-decoration-none">
              <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2" data-mdb-ripple-color="dark">
                <i class="fas fa-warehouse fa-xl fa-fw"></i>
              </button>
              <div class="text-dark fw-bold">Other items</div>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
<!-- category -->


<section>
  <div class="container my-5">    
<header class="mb-4">
      <h3>New products</h3>
    </header>
    
<div class="row">
				{% for product in products %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card my-2 shadow-0">
          <a href=" {{ product.get_absolute_url }}" class="">
            <div class="mask" style="height: 50px;">
                          </div>
            <img src="{{ product.image_url }}" alt="{{ product.name }} " class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
          </a>
          <div class="card-body p-0 pt-3">
            <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
            <h5 class="card-title">{{ product.price|format_rupiah }} </h5>
            <p class="card-text mb-0 fw-bold">{{ product.name }} </p>
            <p class="text-muted">
            {{ product.author }} 
						</p>
          </div>
        </div>
      </div>
{% endfor %}

</section>

 <!-- Pagination -->
  <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% if products.number > 3 %}
                <li class="page-item"><a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}">1</a></li>
                {% if products.number > 4 %}
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                {% endif %}
            {% endif %}

            {% for i in products.paginator.page_range %}
                {% if i >= products.number|add:'-2' and i <= products.number|add:'2' %}
                    {% if products.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if query %}&q={{ query }}{% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if products.number < products.paginator.num_pages|add:'-2' %}
                {% if products.number < products.paginator.num_pages|add:'-3' %}
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">{{ products.paginator.num_pages }}</a></li>
            {% endif %}

            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav> 

 <!-- Feature -->
<section class="">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="card-banner bg-gray h-100" style="
                                                      min-height: 200px;
                                                      background-size: cover;
                                                      background-position: center;
                                                      width: 100%;
                                                      background-repeat: no-repeat;
                                                      top: 50%;
                                                      background-image: url('https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/banners/banner-item2.webp');">
          <div class="p-3 p-lg-5" style="max-width: 70%;">
            <h3 class="text-dark">Best products & brands in our store at 80% off</h3>
            <p>That's true but not always</p>
            <button class="btn btn-warning shadow-0" href="#"> Claim offer </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row mb-3 mb-sm-4 g-3 g-sm-4">
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white">Gaming toolset</h5>
                <p class="text-white-50">Technology for cyber sport</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white">Quality sound</h5>
                <p class="text-white-50">All you need for music</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <!-- row.// -->

        <div class="card bg-success" style="min-height: 200px;">
          <div class="card-body">
            <h5 class="text-white">Buy 2 items, With special gift</h5>
            <p class="text-white-50" style="max-width: 400px;">Buy one, get one free marketing strategy helps your business improves the brand by sharing the profits</p>
            <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container end.// -->
</section>
<!-- Feature -->



		{% endblock %}

