{% load static %}
<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <!-- =====  BASIC PAGE NEEDS  ===== -->
  <meta charset="utf-8">
  <title>{% block title %}DarkLook{% endblock %}</title>
  
  <!-- =====  SEO MATE  ===== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="2 Days">
  <meta name="robots" content="ALL">
  <meta name="rating" content="8 YEARS">
  <meta name="Language" content="en-us">
  <meta name="GOOGLEBOT" content="NOARCHIVE">
  <!-- =====  MOBILE SPECIFICATION  ===== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <!-- =====  CSS  ===== -->

 <link rel="stylesheet" type="text/css" href="https://html.lionode.com/darklook/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="https://html.lionode.com/darklook/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="https://html.lionode.com/darklook/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://html.lionode.com/darklook/css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="https://html.lionode.com/darklook/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="https://html.lionode.com/darklook/css/jquery-ui.css">
  <link rel="shortcut icon" href="https://html.lionode.com/darklook/images/favicon.png">
  <link rel="apple-touch-icon" href="https://html.lionode.com/darklook/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://html.lionode.com/darklook/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://html.lionode.com/darklook/images/apple-touch-icon-114x114.png">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" -->

	<!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
<script src="https://kit.fontawesome.com/e65e46e34f.js" crossorigin="anonymous"></script>

</head>

<body>
  <!-- =====  LODER  ===== -->
 
  <div class="wrapper">
   
    <!-- =====  HEADER START  ===== -->
    <header id="header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="header-top-left">
                <div class="contact"><span class="hidden-xs hidden-sm hidden-md">Days a week from 9:00 am to 7:00 pm</span></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <ul class="header-top-right text-right">
                <li class="account"><a href="login.html">My Account</a></li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              {% block search %}{% endblock %}
              
            
            </div>
            <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" href="index.html"> <img alt="themini" src="https://html.lionode.com/darklook/images/logo.png"> </a> </div>
            
          </div>
          <nav class="navbar">
            <p>menu</p>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
            <div class="collapse navbar-collapse js-navbar-collapse">
              <ul id="menu" class="nav navbar-nav">
                <li> <a href="{% url 'home' %}">Home</a></li>
                <li class="dropdown mega-dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category </a>
                  <ul class="dropdown-menu mega-dropdown-menu row">
                    {% for category in categories %}
                    <li class="col-md-3">
                      <ul>
                        <li><a class="dropdown-header" href="{% url 'product_list_by_category' category.id %}">{{ category.name }} </a></li>  
                      </ul>
                    </li>
                    {% endfor %}
                    <li class="col-md-3">

                   
                  </ul>
                </li>
                <li> <a href="{% url 'product_list' %}">Shop</a></li>
                <li> <a href="blog_page.html">Blog</a></li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages </a>
                  <ul class="dropdown-menu">
                    <li> <a href="cart_page.html">Cart</a></li>
                    <li> <a href="checkout_page.html">Checkout</a></li>
                    <li> <a href="product_detail_page.html">Product Detail Page</a></li>
                    <li> <a href="single_blog.html">Single Post</a></li>
                  </ul>
                </li>
                <li> <a href="about.html">About us</a></li>
                <li> <a href="contact_us.html">Contact us</a></li>
              </ul>
            </div>
            <!-- /.nav-collapse -->
          </nav>
        </div>
      </div>
    </header>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  BANNER STRAT  ===== -->
		{% block banner %}{% endblock %}
    <!-- =====  BANNER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
      {% block content %}{% endblock %}

      <div id="brand_carouse" class="ptb_60 text-center">
        <div class="type-01">
          <div class="heading-part mb_10">
            <h2 class="main_title">Brand Logo</h2>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="brand owl-carousel ptb_20">
                <div class="item text-center">
                  <a href="#"
                    ><img
                      src="https://html.lionode.com/darklook/images/brand/brand1.png"
                      alt="Disney"
                      class="img-responsive"
                  /></a>
                </div>
                <div class="item text-center">
                  <a href="#"
                    ><img
                      src="https://html.lionode.com/darklook/images/brand/brand2.png"
                      alt="Dell"
                      class="img-responsive"
                  /></a>
                </div>
                <div class="item text-center">
                  <a href="#"
                    ><img
                      src="https://html.lionode.com/darklook/images/brand/brand3.png"
                      alt="Harley"
                      class="img-responsive"
                  /></a>
                </div>
                <div class="item text-center">
                  <a href="#"
                    ><img
                      src="https://html.lionode.com/darklook/images/brand/brand4.png"
                      alt="Canon"
                      class="img-responsive"
                  /></a>
                </div>
                <div class="item text-center">
                  <a href="#"
                    ><img
                      src="https://html.lionode.com/darklook/images/brand/brand5.png"
                      alt="Canon"
                      class="img-responsive"
                  /></a>
                </div>
                <div class="item text-center">
                  <a href="#"
                    ><img
                      src="https://html.lionode.com/darklook/images/brand/brand6.png"
                      alt="Canon"
                      class="img-responsive"
                  /></a>
                </div>
                <div class="item text-center">
                  <a href="#"
                    ><img
                      src="https://html.lionode.com/darklook/images/brand/brand7.png"
                      alt="Canon"
                      class="img-responsive"
                  /></a>
                </div>
                <div class="item text-center">
                  <a href="#"
                    ><img
                      src="https://html.lionode.com/darklook/images/brand/brand8.png"
                      alt="Canon"
                      class="img-responsive"
                  /></a>
                </div>
                <div class="item text-center">
                  <a href="#"
                    ><img
                      src="https://html.lionode.com/darklook/images/brand/brand9.png"
                      alt="Canon"
                      class="img-responsive"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <!-- =====  FOOTER START  ===== -->
    <div class="footer pt_60">
      <div class="container">
        <div class="newsletters mt_30 mb_50">
          <div class="row">
            <div class="col-sm-6">
              <div class="news-head pull-left">
                <h2>Follow Our Updates !</h2>
                <div class="new-desc">Be the First to know about our Fresh Arrivals and much more!</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="news-form pull-right">
                <form onsubmit="return validatemail();" method="post">
                  <div class="form-group required">
                    <input name="email" id="email" placeholder="Enter Your Email" class="form-control input-lg" required="" type="email">
                    <button type="submit" class="btn btn-default btn-lg">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 footer-block">
            <h6 class="footer-title ptb_20">Category</h6>
            <ul>
              {% for category in categories %}
              <li><a href="{% url 'product_list_by_category' category.id %}">{{ category.name }}</a> </li>
              {% endfor %}

            </ul>
          </div>
          <div class="col-md-3 footer-block">
            <h6 class="footer-title ptb_20">Services</h6>
            <ul>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Site Map</a></li>
              <li><a href="#">Wish List</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Order History</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-block">
            <h6 class="footer-title ptb_20">Extras</h6>
            <ul>
              <li><a href="#">Brands</a></li>
              <li><a href="#">Gift Certificates</a></li>
              <li><a href="#">Affiliates</a></li>
              <li><a href="#">Specials</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-block">
            <h6 class="footer-title ptb_20">Contacts</h6>
            <ul>
              <li>Warehouse & Offices,</li>
              <li>12345 Street name, California USA</li>
              <li>(+024) 666 888</li>
              <li>yourid@domain.com</li>
              <li><a href="#">www.yoursite.com</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom mt_60 ptb_20">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="social_icon">
                <ul>
                  <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="copyright-part text-center">@ 2019 All Rights Reserved Darklook</div>
            </div>
            <div class="col-sm-4">
              <div class="payment-icon text-right">
                <ul>
                  <li><i class="fa-brands fa-cc-paypal "></i></li>
                  <li><i class="fa-brands fa-cc-visa"></i></li>
                  <li><i class="fa-brands fa-cc-discover"></i></li>
                  <li><i class="fa-brands fa-cc-mastercard"></i></li>
                  <li><i class="fa-brands fa-cc-amex"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- =====  FOOTER END  ===== -->
  </div>
  <a id="scrollup"></a>
  <script src="https://html.lionode.com/darklook/js/jQuery_v3.1.1.min.js"></script>
  <script src="https://html.lionode.com/darklook/js/owl.carousel.min.js"></script>
  <script src="https://html.lionode.com/darklook/js/bootstrap.min.js"></script>
  <script src="https://html.lionode.com/darklook/js/jquery.magnific-popup.js"></script>
  <script src="https://html.lionode.com/darklook/js/jquery.firstVisitPopup.js"></script>
  <script src="https://html.lionode.com/darklook/js/custom.js"></script>
	<script src="https://html.lionode.com/darklook/js/jquery-ui.js"></script>
<script>
  $(function() {
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 500,
      values: [75, 300],
      slide: function(event, ui) {
        $("#amount").val("Rp" + ui.values[0] + " - Rp" + ui.values[1]);
      }
    });
    $("#amount").val("Rp" + $("#slider-range").slider("values", 0) +
      " - Rp" + $("#slider-range").slider("values", 1));
  });
  </script>


<script type="text/javascript">
  document.getElementById('input-limit').onchange = function() {
    var limit = this.value;
    var currentUrl = window.location.href;
    var newUrl = updateQueryStringParameter(currentUrl, 'limit', limit);
    window.location.href = newUrl;
  };

  // Function to update query string parameter
  function updateQueryStringParameter(uri, key, value) {
    var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
    var separator = uri.indexOf('?') !== -1 ? "&" : "?";
    if (uri.match(re)) {
      return uri.replace(re, '$1' + key + "=" + value + '$2');
    } else {
      return uri + separator + key + "=" + value;
    }
  }
</script>


<script type="text/javascript">
  document.getElementById('input-sort').onchange = function() {
    var sort = this.value;
    var currentUrl = window.location.href;
    var newUrl = updateQueryStringParameter(currentUrl, 'sort', sort);
    window.location.href = newUrl;
  };

  // Function to update query string parameter
  function updateQueryStringParameter(uri, key, value) {
    var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
    var separator = uri.indexOf('?') !== -1 ? "&" : "?";
    if (uri.match(re)) {
      return uri.replace(re, '$1' + key + "=" + value + '$2');
    } else {
      return uri + separator + key + "=" + value;
    }
  }
</script>


</body>
</html>
