{% extends 'products/base.html' %} {% load custom_filters %} {% block title%}DarkLook{% endblock %} {% block search %}
<form method="get" action="{% url 'product_list' %}">
  <div class="main-search mt_40">
    <input
      id="search-input"
      name="q"
      value="{{ query|default_if_none:'' }}"
      placeholder="Search"
      class="form-control input-lg"
      autocomplete="off"
      type="text" />
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default btn-lg">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
{% endblock %} {% block content %}
<div class="row">
  <!-- =====  BANNER STRAT  ===== -->
  <div class="col-sm-12">
    <div class="breadcrumb ptb_20">
      <h1>Products</h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="active">Products</li>
      </ul>
    </div>
  </div>
  <!-- =====  BREADCRUMB END===== -->
  <div id="column-left" class="col-sm-4 col-lg-3">
    <div
      id="category-menu"
      class="navbar collapse in mb_40"
      aria-expanded="true"
      style=""
      role="button">
      <div class="nav-responsive">
        <div class="heading-part">
          <h2 class="main_title">Top category</h2>
        </div>
        <ul class="nav main-navigation collapse in">
          {% for category in categories %}
          <li>
            <a href="{% url 'product_list_by_category' category.id %}"
              >{{ category.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="filter left-sidebar-widget mb_50">
      <div class="heading-part mtb_20">
        <h2 class="main_title">Refinr Search</h2>
      </div>
      <div class="filter-block">
        <p>
          <label for="amount">Price range:</label>
          <input type="text" id="amount" readonly />
        </p>
        <div id="slider-range" class="mtb_20"></div>
        <div class="list-group">
          <div class="list-group-item mb_10">
            <label>Category</label>
            <div id="filter-group1">
              {% for category in categories %}
              <div class="checkbox">
                <label>
                  <input value="{{ category.name }}" type="checkbox" /> {{ category.name }}</label
                >
              </div>
              {% endfor %}
            </div>
          </div>
         
					<button type="button" class="btn btn-primary" id="apply-filter-btn">Apply Filters</button>
                </div>
      </div>
    </div>
    <div class="left_banner left-sidebar-widget mb_50">
      <a href="#"
        ><img
          src="https://html.lionode.com/darklook/images/left1.jpg"
          alt="Left Banner"
          class="img-responsive"
      /></a>
    </div>
    <div class="left-special left-sidebar-widget mb_50">
      <div class="heading-part mb_10">
        <h2 class="main_title">Top Products</h2>
      </div>
      <div id="left-special" class="owl-carousel">
        <ul class="row">
          {% for ebook in top_products.ebooks %}
          <li class="item product-layout-left mb_20">
            <div class="product-list col-xs-4">
              <div class="product-thumb">
                <div class="image product-imageblock">
                  <a href="product_detail_page.html">
                    <img
                      class="img-responsive"
                      title="{{ ebook.name  }}"
                      alt="{{ ebook.name  }}"
                      src="{{ ebook.image_url }}" />
                    <img
                      class="img-responsive"
                      title="{{ ebook.name  }}"
                      alt="{{ ebook.name  }}"
                      src="{{ ebook.image_url  }}" />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="caption product-detail">
                <h6 class="product-name">{{ ebook.name }}</h6>

                <span class="price"
                  ><span class="amount">{{ ebook.price|format_rupiah }}</span>
                </span>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        <ul class="row">
          {% for ebook in related_products.ebooks %}
          <li class="item product-layout-left mb_20">
            <div class="product-list col-xs-4">
              <div class="product-thumb">
                <div class="image product-imageblock">
                  <a href="product_detail_page.html">
                    <img
                      class="img-responsive"
                      title="{{ ebook.name  }}"
                      alt="{{ ebook.name  }}"
                      src="{{ ebook.image_url }}" />
                    <img
                      class="img-responsive"
                      title="{{ ebook.name  }}"
                      alt="{{ ebook.name  }}"
                      src="{{ ebook.image_url  }}" />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="caption product-detail">
                <h6 class="product-name">{{ ebook.name }}</h6>

                <span class="price"
                  ><span class="amount">{{ ebook.price|format_rupiah }}</span>
                </span>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        <ul class="row">
          {% for ebook in latest_products.ebooks %}
          <li class="item product-layout-left mb_20">
            <div class="product-list col-xs-4">
              <div class="product-thumb">
                <div class="image product-imageblock">
                  <a href="product_detail_page.html">
                    <img
                      class="img-responsive"
                      title="{{ ebook.name  }}"
                      alt="{{ ebook.name  }}"
                      src="{{ ebook.image_url }}" />
                    <img
                      class="img-responsive"
                      title="{{ ebook.name  }}"
                      alt="{{ ebook.name  }}"
                      src="{{ ebook.image_url  }}" />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="caption product-detail">
                <h6 class="product-name">{{ ebook.name }}</h6>

                <span class="price"
                  ><span class="amount">{{ ebook.price|format_rupiah }}</span>
                </span>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        <ul class="row">
          {% for ebook in top_products.ebooks %}
          <li class="item product-layout-left mb_20">
            <div class="product-list col-xs-4">
              <div class="product-thumb">
                <div class="image product-imageblock">
                  <a href="product_detail_page.html">
                    <img
                      class="img-responsive"
                      title="{{ ebook.name  }}"
                      alt="{{ ebook.name  }}"
                      src="{{ ebook.image_url }}" />
                    <img
                      class="img-responsive"
                      title="{{ ebook.name  }}"
                      alt="{{ ebook.name  }}"
                      src="{{ ebook.image_url  }}" />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="caption product-detail">
                <h6 class="product-name">{{ ebook.name }}</h6>

                <span class="price"
                  ><span class="amount">{{ ebook.price|format_rupiah }}</span>
                </span>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-lg-9 mtb_20">
    <div class="category-page-wrapper mb_30">
      <div class="list-grid-wrapper pull-left">
        <div class="btn-group btn-list-grid">
          <button
            type="button"
            id="grid-view"
            class="btn btn-default grid-view active"></button>
          <button
            type="button"
            id="list-view"
            class="btn btn-default list-view"></button>
        </div>
      </div>
      <div class="page-wrapper pull-right">
        <label class="control-label" for="input-limit">Show :</label>
        <div class="limit">
          <select id="input-limit" class="form-control">
            <option value="6" selected="selected">06</option>
            <option value="9">09</option>
            <option value="12">12</option>
            <option value="15">15</option>
            <option value="18">18</option>
          </select>
        </div>
        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </div>
    <div class="sort-wrapper pull-right">
  <label class="control-label" for="input-sort">Sort By :</label>
  <div class="sort-inner">
    <select id="input-sort" class="form-control">
      <option value="default" selected="selected">Default</option>
      <option value="name_asc">Name (A - Z)</option>
      <option value="name_desc">Name (Z - A)</option>
      <option value="price_asc">Price (Low &gt; High)</option>
      <option value="price_desc">Price (High &gt; Low)</option>
         </select>
  </div>
  <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
</div>
  
		</div>
    <div class="row">
      {% for product in products %}
      <div class="product-layout product-grid col-md-4 col-xs-6">
        <div class="item">
          <div class="product-thumb clearfix mb_30">
            <div class="image product-imageblock">
              <a href="{{ product.get_absolute_url }}">
                <img
                  data-name="product_image"
                  src="{{ product.image_url }}"
                  alt="{{ product.name  }}"
                  title="{{ product.name  }}"
                  class="img-responsive" />
                <img
                  src="{{ product.image_url }}"
                  alt="{{ product.name  }}"
                  title="{{ product.name  }}"
                  class="img-responsive" />
              </a>
              <div class="button-group text-center">
                <div class="wishlist">
                  <a href="#"><span>wishlist</span></a>
                </div>
                <div class="quickview">
                  <a href="#"><span>Quick View</span></a>
                </div>
                <div class="compare">
                  <a href="#"><span>Compare</span></a>
                </div>
                <div class="add-to-cart">
                  <a href="#"><span>Add to cart</span></a>
                </div>
              </div>
            </div>
            <div class="caption product-detail text-center">				
										<span class="amount">{{ product.author }}</span>
              <h6 data-name="product_name" class="product-name mt_20">
                {{ product.name }}
              </h6>
              <div class="rating">
                <span class="fa fa-stack"
                  ><i class="fa fa-star-o fa-stack-1x"></i
                  ><i class="fa fa-star fa-stack-1x"></i
                ></span>
                <span class="fa fa-stack"
                  ><i class="fa fa-star-o fa-stack-1x"></i
                  ><i class="fa fa-star fa-stack-1x"></i
                ></span>
                <span class="fa fa-stack"
                  ><i class="fa fa-star-o fa-stack-1x"></i
                  ><i class="fa fa-star fa-stack-1x"></i
                ></span>
                <span class="fa fa-stack"
                  ><i class="fa fa-star-o fa-stack-1x"></i
                  ><i class="fa fa-star fa-stack-1x"></i
                ></span>
                <span class="fa fa-stack"
                  ><i class="fa fa-star-o fa-stack-1x"></i
                  ><i class="fa fa-star fa-stack-1x"></i
                ></span>
              </div>
              <span class="price"
                ><span class="amount">{{ product.price|format_rupiah }}</span>
              </span>
                          </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="pagination-nav text-center mt_50">
      <ul>
        {% if products.has_previous %}
        <li>
          <a href="?page=1"><i class="fa fa-angle-double-left"></i></a>
        </li>
        <li>
          <a href="?page={{ products.previous_page_number }}"
            ><i class="fa fa-angle-left"></i
          ></a>
        </li>
        {% endif %} {% for num in products.paginator.page_range %} {% if products.number == num %}
        <li class="active">
          <span>{{ num }}</span>
        </li>
        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
        <li>
          <a href="?page={{ num }}">{{ num }}</a>
        </li>
        {% elif num == products.number|add:'-3' or num == products.number|add:'3' %}
        <li>
          <span>...</span>
        </li>
        {% endif %} {% endfor %} {% if products.has_next %}
        <li>
          <a href="?page={{ products.next_page_number }}"
            ><i class="fa fa-angle-right"></i
          ></a>
        </li>
        <li>
          <a href="?page={{ products.paginator.num_pages }}"
            ><i class="fa fa-angle-double-right"></i
          ></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}

