{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Add Product</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
            
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </form>
                						</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card  card-plain">
          <div class="card-header">
            <h4 class="card-title"> Your Product</h4>
                      </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                <tr>
                
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
								<th scope="col">Affiliate Link</th>
                <th scope="col">Actions</th>
            </tr> 
								</thead>
                <tbody>
                {% for product in user_products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category.name }}</td>
										<td>{{ product.affiliate_link }}</td>

                    <td>
                        <!-- Edit button -->
                        <button class="btn btn-link btn-warning  edit-product" data-id="{{ product.id }}"><i class="tim-icons icon-pencil"></i></button>
                        
                        <!-- Delete form -->
                        <form method="post" action="{% url 'delete_product' product.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link btn-danger"><i class="tim-icons icon-trash-simple"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}

								</tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



<script>
document.querySelectorAll('.edit-product').forEach(button => {
    button.addEventListener('click', function() {
        var productId = this.dataset.id;  // Ambil ID produk dari data atribut
        var editProductUrl = "{% url 'edit_product' 0 %}".replace('0', productId);  // Ganti placeholder dengan ID produk
        window.location.href = editProductUrl;
    });
});
</script>
{% endblock javascripts %}
